/* Leaflet Marker Cluster Styles */
.leaflet-cluster-anim .leaflet-marker-icon,
.leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
    -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
    transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
    -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
    -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
    -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
    transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

.marker-cluster-small {
    background-color: rgba(80, 158, 47, 0.2);
    /* EDF Green transparent */
}

.marker-cluster-small div {
    background-color: rgba(80, 158, 47, 0.9);
    /* EDF Green */
    color: white;
}

.marker-cluster-medium {
    background-color: rgba(254, 88, 21, 0.2);
    /* EDF Orange transparent */
}

.marker-cluster-medium div {
    background-color: rgba(254, 88, 21, 0.9);
    /* EDF Orange */
    color: white;
}

.marker-cluster-large {
    background-color: rgba(0, 26, 112, 0.2);
    /* EDF Blue transparent */
}

.marker-cluster-large div {
    background-color: rgba(0, 26, 112, 0.9);
    /* EDF Blue */
    color: white;
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}

.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Inter", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.marker-cluster span {
    line-height: 30px;
}